@model PatientUploadTest2.Models.Report

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auditor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auditor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WritingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WritingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
